@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap");
* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titlePadding2 {
  padding-top: 700px;
}

.arrowDown {
  display: inline-block;
  position: relative;
  top: 53%;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 230px;
  margin-left: -15px;
  margin-right: 40px;
}

.dowloadDesc {
  background-color: black;
  height: 47vh;
  padding: 240px 30px 0px 30px;
}
.dowloadDesc p {
  font-size: 13px;
}

.btn {
  border: 2px solid white;
  border-radius: 0%;
  margin: 10px;
  font-size: 15px;
}

.email {
  text-decoration: none;
  color: white;
}
.email:hover {
  color: rgb(155, 155, 155);
}

.footer {
  background-color: black;
  height: 8vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copySuzana {
  color: #555252;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
@media (max-width: 380px) {
  .shortTitle, .mediumTitle {
    width: auto;
  }
}
@media (max-width: 769px) {
  .shortTitle, .mediumTitle {
    width: auto;
  }
}
@media (max-height: 1000px) {
  .titlePadding3 {
    padding-bottom: 80px;
  }
}
.container00.container01 {
  background-image: url(../../images/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../images/home/02.jpg);
}
.container00.container03 {
  background-image: url(../../images/home/03.jpg);
}
.container00.container04 {
  background-image: url(../../images/home/04.gif);
}

.titlePadding {
  padding-top: 630px;
}

.titlePadding3 {
  padding-top: 700px;
}

.shortTitle {
  width: 100%;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 100%;
  margin-bottom: -25px;
}

* {
  font-family: Rubik, sans-serif;
}

.fadeTxt {
  color: #686868;
}

.container00.container05 {
  background-image: url(../../images/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../../images/falcon9/02.jpg);
}
.container00.container07 {
  background-image: url(../../images/falcon9/08.jpg);
}
.container00.carousel01 {
  background-image: url(../../images/falcon9/03.jpg);
}
.container00.carousel02 {
  background-image: url(../../images/falcon9/04.jpg);
}
.container00.carousel03 {
  background-image: url(../../images/falcon9/05.jpg);
}
.container00.carousel04 {
  background-image: url(../../images/falcon9/06.jpg);
}
.container00.carousel05 {
  background-image: url(../../images/falcon9/07.jpg);
}

.nav-item {
  font-size: 15px;
  font-weight: 514;
  margin-top: 15px;
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.titleContent .titleFalcon9 {
  font-size: 90px;
  font-family: Rubik, sans-serif;
  font-weight: 480;
}
.titleContent .subTitleFalcon {
  font-size: 15px;
  font-weight: 300;
}

.numbers {
  background-color: black;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumb {
  font-size: 120px;
  font-weight: 300;
}
.numbers .subTitleNumb {
  font-size: 20px;
  font-weight: 300;
}

.falcon9Desc {
  padding: 0px 15px;
  font-size: 16px;
  width: 510px;
  line-height: 30px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin: 0px 15px;
  padding-top: 15%;
}
#overViewPosition .subTitleOverView {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}
#overViewPosition .titleOverView {
  font-size: 50px;
  margin-bottom: 30px;
}
#overViewPosition .table > :not(caption) > * > * {
  background-color: transparent;
  color: white;
}
#overViewPosition td {
  padding: 20px 0px;
}

.carouselSlide img {
  height: 100vh;
}

.carouselText {
  background-color: black;
}

.footer {
  height: 10vh;
  margin-top: px;
}

@media (max-width: 960px) {
  .logoPc {
    width: 160px;
  }
  .titleContent .titleFalcon9 {
    font-size: 65px;
  }
  .titleContent .subTitleFalcon {
    font-size: 15px;
    font-weight: 300;
  }
  .numbers {
    height: 30vh;
  }
  .numbers .titleNumb {
    font-size: 70px;
    font-weight: 300;
  }
  .numbers .subTitleNumb {
    font-size: 11px;
  }
  .falcon9Desc {
    font-size: 16px;
    width: 500px;
  }
  #overViewPosition .subTitleOverView {
    font-size: 20px;
    margin: 0;
  }
  #overViewPosition .titleOverView {
    font-size: 48px;
    margin-bottom: 30px;
  }
  #overViewPosition .table > :not(caption) > * > * td {
    font-size: 10px;
    font-weight: 514;
  }
  #overViewPosition .merlinDesc {
    margin: 20px 0px;
    font-size: 15px;
    line-height: 25px;
  }
  #overViewPosition .underTitle {
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 514;
  }
  .carouselText {
    font-size: 15px;
  }
  .dowloadDesc p {
    font-size: 13px;
    margin: 5px 25px;
  }
  .dowloadDesc .btn {
    font-size: 14px;
    font-weight: 514;
  }
}
@media (max-width: 600px) {
  .titleContent .titleFalcon9 {
    font-size: 45px;
  }
  .titleContent .subTitleFalcon {
    font-size: 15px;
    font-weight: 300;
  }
  .numbers {
    height: 40vh;
  }
  .numbers .titleNumb {
    font-size: 40px;
  }
  .numbers .subTitleNumb {
    font-size: 12px;
  }
  .falcon9Desc {
    font-size: 15px;
    width: 100%;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
    margin: 0px 15px;
  }
  #overViewPosition .subTitleOverView {
    font-size: 15px;
    margin: 0;
  }
  #overViewPosition .titleOverView {
    font-size: 36px;
    margin-bottom: 30px;
  }
  #overViewPosition .table > :not(caption) > * > * {
    width: auto;
  }
  #overViewPosition td {
    font-size: 14px;
    font-weight: 514;
  }
  #overViewPosition .merlinDesc {
    margin: 20px 0px;
    font-size: 15px;
    line-height: 25px;
  }
  #overViewPosition .underTitle {
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 300;
  }
  .carouselText {
    font-size: 12px;
  }
  .dowloadDesc p {
    font-size: 13px;
    margin: 5px 25px;
  }
  .dowloadDesc .btn {
    width: 100%;
    font-size: 14px;
    font-weight: 514;
  }
}
.container00.container08 {
  background-image: url(../../images/humanFlight/01.jpg);
}
.container00.container09 {
  background-image: url(../../images/humanFlight/02.jpg);
}
.container00.container10 {
  background-image: url(../../images/humanFlight/03.jpg);
}
.container00.container11 {
  background-image: url(../../images/humanFlight/04.jpg);
}
.container00.container12 {
  background-image: url(../../images/humanFlight/05.jpg);
}

.nav-item {
  font-size: 15px;
  font-weight: 300;
  margin-top: 15px;
}

.container01Content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container01Content .titleHuman {
  font-size: 90px;
  font-weight: 514;
}
.container01Content .subTitleHuman {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
}

.containerRightContent {
  margin-left: 60%;
  padding-top: 300px;
}

.titleSection {
  font-size: 60px;
  font-weight: bold;
}

.subTitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 300px;
}

@media (max-width: 960px) {
  .container01Content .titleHuman {
    font-size: 65px;
  }
  .container01Content .subTitleHuman {
    font-size: 15px;
  }
  .container01Content .arrowDown {
    position: relative;
    top: 50%;
  }
  .containerRightContent {
    margin-left: 55%;
    padding-top: 300px;
  }
  .titleSection {
    font-size: 45px;
    font-weight: bold;
  }
  .subTitle {
    font-weight: 300;
    margin-bottom: 40px;
  }
  .containerLeftContent {
    margin-left: 7%;
    padding-top: 300px;
  }
  .dowloadDesc {
    height: 48vh;
  }
  .dowloadDesc p {
    font-size: 13px;
    margin: 5px 25px;
  }
  .dowloadDesc .btn {
    font-size: 14px;
    font-weight: 514;
  }
}
@media (max-width: 600px) {
  .container01Content .titleHuman {
    font-size: 45px;
    width: 100%;
  }
  .container01Content .subTitleHuman {
    font-size: 15px;
  }
  .arrowDown {
    display: none;
  }
  .containerRightContent {
    margin-left: 305;
  }
  .containerLeftContent {
    margin-left: 5%;
  }
  .dowloadDesc {
    height: 60vh;
  }
  .dowloadDesc .btn {
    width: 100%;
  }
}
@media (max-width: 328px) {
  .container01Content .titleHuman {
    font-size: 35px;
    width: 100%;
  }
  .container01Content .subTitleHuman {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
