.header {
  font-size: 12px;
  font-weight: bold;

  #navItem{
    &:hover {
    color: $link-hover;
    }
  }
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titlePadding2 {
  padding-top: 700px;
}

.arrowDown {
  display: inline-block;
  position: relative;
  top: 53%;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 230px;
  margin-left: -15px;
  margin-right: 40px;
}

.dowloadDesc {
  background-color: black;
  height: 47vh;

  padding: 240px 30px 0px 30px;

  p {
    font-size: 13px;
  }
}

.btn {
  border: 2px solid white;
  border-radius: 0%;
  margin: 10px;
  font-size: 15px;
}

.email {
  text-decoration: none;
  color: white;

  &:hover {
    color: rgb(155, 155, 155);
  }
}  


.footer {
  background-color: black;
  height: 8vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $link-hover;
    }
  }
  .copySuzana {
    color: $copy-color
  }
}


  

// Media Query

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
 }
} ;

@media (max-width : 380px) {
  .shortTitle, .mediumTitle {
    width: auto;
  }
}

@media(max-width: 769px) {
  .shortTitle, .mediumTitle {
    width: auto;
  }
}

@media(max-height: 1000px) {
  .titlePadding3 {
    padding-bottom: 80px;
  }
}
