* {
  color: white;
}

.header {
  #navItem{
    font-size: 13px;
    font-weight: 500;
    &:hover {
    color: $link-hover;
    }
  }
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titlePadding {
  padding-top: 700px; 
}

.shortTitle {
  font-size: 20px;
  font-weight: 300;
}

.mediumTitle {
  font-size: 50px;
  font-weight: 500;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 50px;
}

.logoPc {
  width: 230px;
  margin-left: -15px;
  margin-right: 40px;
}

.btn {
  border: 2px solid white;
  border-radius: 0%;
  margin: 10px;
  font-size: 15px;
}

.email {
  text-decoration: none;
  color: white;

  &:hover {
    color: rgb(155, 155, 155);
  }
}  

.dowloadDesc {
  height: 30vh;
  padding-top: 100px;
  background-color: black;
}

.footer {
  background-color: black;
  height: 8vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $link-hover;
    }
  }
  .copySuzana {
    color: $copy-color
  }
}

@media (max-width: 991px) {  
  .offcanvas {
    --bs-offcanvas-width: 350px;
    backdrop-filter: blur(10px);
  }

  .titlePadding {
    padding-top: 600px; 
  }

  .mediumTitle {
    font-size: 36px;
  }
}

@media(max-width: 600px) {
  .titlePadding {
    padding-top: 600px; 
  }
}

