* {
  margin: 0;
  padding: 0;
}

.container00{
  &.container01{
    background-image:url(../../images/home/01.jpg) ;
  }

  &.container02{
    background-image:url(../../images/home/02.jpg) ;
  }
  
  &.container03{
    background-image:url(../../images/home/03.jpg) ;
  }

  &.container04{
    background-image:url(../../images/home/04.gif) ;
  }
}

.container01 {
  height: 80vh;
  
  .titlePadding1 {
    padding-top: 550px;
  }
}

.btn {
  margin-left: 0;
}

